<!doctype html>
<html lang="es">
  <%- include('partials/head.ejs') %>
  <body>
    <div class="container-puntajes">
      <div class="puntajes-box">
        <h2>Puntajes</h2>
        <ul class="lista-puntajes">
          <li>Jugador 1: 120 puntos</li>
          <li>Jugador 2: 80 puntos</li>
          <li>Jugador 3: 60 puntos</li>
          <li>Jugador 4: 40 puntos</li>
        </ul>
        <div class="siguiente-ronda">Siguiente ronda en 5 segundos...</div>
      </div>
    </div>
  </body>
</html>
