# API key para Gemini. Se puede crear una de prueba en https://aistudio.google.com/.
# Si no se especifica, los bots jugarán sin que se utilice Gemini.
GEMINI_API_KEY=

# Nombre del host que contiene la base de datos.
DB_HOST=mysql

# Puerto interno del contenedor donde escucha Node.
PORT=3000

# Puerto del host para exponer la app (por ejemplo, local: 3000, cloud: 80).
HOST_PORT=3000

# Nombre de la base de datos.
DB_NAME=

# Puerto de la base de datos.
DB_PORT=3306

# Usuarios y contraseña para la base de datos.
DB_USER=
DB_PASSWORD=

# Entorno de ejecución de la aplicación ('development' o 'production').
NODE_ENV=development

# Nivel de logueo ('debug', 'info', 'warn', 'error').
LOG_LEVEL=debug

# Clave para la generación del JWT.
JWT_SECRET=