<!DOCTYPE html>
<html lang="es">
  <%- include('partials/head.ejs') %>
  <body>
    <div class="container-inicio">
      <img src="/images/uno-logo.png" alt="UNO" class="logo-inicio" />
      <div class="botones-inicio">
        <button class="btn-inicio" onclick="window.location.href = '/crear-sala'">JUGAR</button>
        <button class="btn-inicio">RANKING</button>
        <button class="btn-inicio">MI CUENTA</button>
      </div>
    </div>
  </body>
</html>
